body {
    font-family: Arial;
    background: #f1f1f1;
}

.container {
    width: 450px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 8px;
}
